@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #fff;
  --color-text: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #22222f;
    --color-text: #eee;
  }
}
